/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'bpicons';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bpicons/bpicons.woff') format('woff'),
		url('../fonts/bpicons/bpicons.ttf') format('truetype'),
		url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
}

a {
	color: #000;
	text-decoration: none;
}

.wrapper {
	margin: 40px 0 40px 5%;
}

ul {
	margin: 20px 0 0 0;
	padding: 0;
	float: left;
	width: 90%;
}

li {
	border-bottom: 1px #000 solid;
	margin: 0 0 20px 0;
	padding: 0px 0px 20px 0px;
	list-style: none;
	float: left;
	width: 100%;
}

li:last-child {
	border: none;
}

.date {
	font-style: italic;
	margin: 0 0 10px 0;
	float: left;
	width: 100%;
}

.message {
	margin: 0 0 10px 0;
	float: left;
	width: 100%;
}

.committer {
	float: left;
}

.avatar {
	float: left;
	width: 30px;
	height: 30px;
}

.user {
	margin: 5px 0 0 10px;
	float: left;
}